{

 :paths ["src/cljs"]

 :deps {
        org.clojure/clojure                           {:mvn/version "1.10.3"}
        org.clojure/core.async                        {:mvn/version "1.5.648"}
        org.clojure/tools.logging                     {:mvn/version "1.2.4"}
        org.clojure/tools.nrepl                       {:mvn/version "0.2.13"}
        reagent {:mvn/version "1.0.0"}
        re-frame {:mvn/version "1.3.0"}
        com.taoensso/timbre {:mvn/version "5.1.2"}
        re-com {:mvn/version "2.13.2"}
        cljsjs/react-vis {:mvn/version "1.11.1-0"}
        org.clojars.frozenlock/reagent-table {:mvn/version "0.1.6"}

        bh-lib/bh-lib {:git/url "https://github.com/sagura091/bh-lib.git"
                                                :sha "0173b4680a810cb4a840de707d57738036656d88"}
        }

 :mvn/repos {"confluent" {:url "https://packages.confluent.io/maven/"}
             "clojars"   {:url "https://clojars.org/repo/"}
             "central"   {:url "https://repo1.maven.org/maven2/"}}

 }