;; shadow-cljs configuration
{:source-paths ["src/cljs" "src/test"]

 :npm-deps     {"@canvasjs/react-charts" "1.0.0"}

 :dependencies [[reagent "1.0.0"]
                [re-frame "1.3.0"]
                [com.taoensso/timbre "5.1.2"]
                [re-com "2.13.2"]
                [cljsjs/react-vis "1.11.1-0"]
                ;[@canvasjs/react-charts "1.0.0"]
                ]

 :dev-http     {8081 "public"}

 :nrepl        {:port 5555}

 :builds       {:app {:target     :browser
                      :output-dir "public/scripts/"
                      :asset-path "/scripts/"
                      :compiler-options {:output-feature-set :es7}
                      :modules    {:core {:init-fn gl-playground.core/main}}}}}
